@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: "DOSG";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

/* 공통요소 css */
* {
  margin: 0;
  padding: 0;
}
* li {
  list-style: none;
}
* a {
  text-decoration: none;
  color: inherit;
}
* img {
  vertical-align: top;
}
* html {
  overflow-x: hidden;
}
* html.fix {
  overflow: hidden;
}
* body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #000;
}
* .wrap {
  width: 1500px;
  margin: 0 auto;
  position: relative;
}
* .wrap:after, * ul:after, * .cl:after {
  content: "";
  clear: both;
  display: block;
}
* .blind {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
}
* .bold {
  font-weight: bold;
}

/* main (index.html) css ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
#main {
  width: 100%;
  height: 100%;
  position: relative;
  /*text css */
}
#main #space {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#main #sship {
  position: absolute;
  top: 300px;
  left: 400px;
  z-index: 1;
  background: none;
  border-radius: 500px;
  transform: scale(1);
  transition: 5s;
}
#main #sship:hover {
  transform: scale(2.2);
  cursor: pointer;
}
#main #three3 {
  position: absolute;
  top: 800px;
  right: 350px;
  z-index: 1;
  background: none;
}
#main p {
  position: absolute;
  top: 860px;
  right: 150px;
  z-index: 2;
  color: #fff;
  font-size: 16px;
}
#main #home {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  background: none;
  transform: scale(1);
  transition: 1.5s;
}
#main #home:hover {
  transform: scale(1.3);
}
#main .gitgit {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 850px;
  right: 50px;
  z-index: 2;
  display: block;
  background: #fff;
  border-radius: 50px;
}
#main .gitgit img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .ex {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 3;
}
#main .ex i {
  font-size: 40px;
  color: #fff;
  width: 50px;
  height: 50px;
}
#main .ex p {
  width: 600px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  position: absolute;
  top: 60px;
  right: 10px;
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 15px;
  display: none;
  border-radius: 10px;
}
#main .ex p.on {
  display: block;
}
#main #app {
  text-align: center;
  z-index: 3;
  font-size: 50px;
  background-image: linear-gradient(-225deg, #879988 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  position: absolute;
  top: 480px;
  left: 950px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* 자기소개.html css  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/*홈페이지 로고 홈앵커 */
#homeh1 {
  width: 10%;
  height: 80px;
  position: absolute;
  top: 20px;
}
#homeh1 a #home {
  position: absolute;
  top: 20px;
  left: 10%;
  background: none;
  z-index: 2;
  transform: scale(1);
  transition: 1.5s;
}
#homeh1 a:hover #home {
  transform: scale(2);
}

/*비주얼 3d 영역 */
#in3d {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
}
#in3d #galaxy {
  position: fixed;
}

/*자기소개,포폴 알림 전체영역*/
#infor {
  width: 1200px;
  height: 700px;
  background: none;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  overflow: hidden;
  position: relative;
  top: 100px;
  left: calc(50% - 600px);
  z-index: 3;
  /*소개, 포폴 안내바*/
  /*자기소개 내용 영역*/
  /* 포트폴리오 목록 영역*/
}
#infor .category {
  width: 100%;
  height: 50px;
  background: none;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
}
#infor .category li:nth-of-type(1) {
  width: 49%;
  line-height: 50px;
  font-size: 25px;
  float: left;
}
#infor .category li:nth-of-type(2) {
  width: 49%;
  line-height: 50px;
  font-size: 25px;
  float: right;
}
#infor .category li {
  opacity: 0.3;
  background-color: #879988;
  margin: 0 0.5%;
  border-radius: 25%;
}
#infor .category li a {
  display: block;
}
#infor .category li.select {
  background-color: #eee;
  opacity: 1;
}
#infor .information {
  width: 99%;
  height: 100%;
  background-color: none;
  margin: 0 auto;
  position: relative;
  overflow: auto;
  display: none;
}
#infor .information .p1 {
  width: 100%;
  height: 1500px;
  position: relative;
  overflow: scroll hidden;
}
#infor .information .p1 .photoinfor {
  width: 100%;
  height: 350px;
  margin-bottom: 15px;
}
#infor .information .p1 .photoinfor figure {
  width: 30%;
  height: 350px;
  float: left;
}
#infor .information .p1 .photoinfor figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#infor .information .p1 .photoinfor .name {
  width: 70%;
  height: 350px;
  float: right;
  box-sizing: border-box;
  padding: 30px 0 0 20px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
#infor .information .p1 .photoinfor .name ul li {
  margin-bottom: 18px;
}
#infor .information .p1 .photoinfor .name ul li img {
  width: 25px;
  padding-top: 3px;
}
#infor .information .p1 .ment {
  color: #fff;
  font-size: 17px;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  padding: 10px 10px;
  line-height: 1.5;
  margin-bottom: 15px;
}
#infor .information .p1 .ment h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
#infor .information .p1 .skill {
  width: 100%;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
#infor .information .p1 .skill h3 {
  padding-top: 10px;
  font-size: 25px;
}
#infor .information .p1 .skill .skillicon {
  width: 100%;
  margin: 0 auto;
  height: 154px;
}
#infor .information .p1 .skill .skillicon li {
  float: left;
  margin: 0 35px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 25px;
}
#infor .information .p1 .skill .skillicon li img {
  width: 100px;
  height: 100px;
}
#infor .information .p1 .skill .skillicon li img:last-child {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  margin: 10px 10px;
}
#infor .information .p1 .skill .skillicon li:last-child {
  margin-right: 0;
}
#infor .information .p1 .skill section {
  width: 700px;
  height: 400px;
  background-color: white;
  display: none;
  overflow-x: hidden;
}
#infor .information .p1 .skill section .content {
  width: 100%;
  height: 385px;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 10px;
}
#infor .information .p1 .skill section a {
  width: 100%;
  background-color: #eee;
  display: block;
  border-radius: 10px 10px 0 0;
}
#infor .information .p1 .skill section a i {
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
#infor .information .p1 .skill section:nth-of-type(1) {
  position: relative;
  top: 0;
  left: 35px;
  border-radius: 0 10px 10px 10px;
}
#infor .information .p1 .skill section:nth-of-type(1) .content .progress {
  width: 160px;
  height: 160px;
  position: relative;
  top: 30px;
  left: 30px;
}
#infor .information .p1 .skill section:nth-of-type(1) .content .progress .outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 19px;
  box-sizing: border-box;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.45), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
#infor .information .p1 .skill section:nth-of-type(1) .content .progress .outer .inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.5), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px white, 0.5px 0.5px 0px rgba(0, 0, 0, 0.2), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
}
#infor .information .p1 .skill section:nth-of-type(1) .content .progress .outer .inner #number {
  font-size: 20px;
  font-weight: bold;
  color: #777;
}
#infor .information .p1 .skill section:nth-of-type(1) .content circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim1 1.5s linear forwards;
}
#infor .information .p1 .skill section:nth-of-type(1) .content .svg1 {
  position: absolute;
  top: 30px;
  left: 30px;
  transform: rotate(-85deg);
}
@keyframes anim1 {
  100% {
    stroke-dashoffset: 60;
  }
}
#infor .information .p1 .skill section:nth-of-type(1) .content .htmltext {
  width: 100%;
  height: 200px;
  padding-left: 190px;
  box-sizing: border-box;
  margin-top: -120px;
}
#infor .information .p1 .skill section:nth-of-type(1) .content .htmltext h3 {
  font-size: 50px;
  margin-bottom: 20px;
}
#infor .information .p1 .skill section:nth-of-type(1) .content .htmltext2 {
  text-align: left;
  position: relative;
}
#infor .information .p1 .skill section:nth-of-type(1) .content .htmltext2 img {
  width: 50%;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  margin-bottom: 50px;
}
#infor .information .p1 .skill section:nth-of-type(1) .content .htmltext2 p {
  font-size: 16px;
  padding: 40px 30px;
  line-height: 1.7;
  width: 340px;
  height: 150px;
  background-color: #eee;
  position: absolute;
  top: 25px;
  right: 0;
  border-radius: 10px 0 0 10px;
  text-align: center;
}
#infor .information .p1 .skill section:nth-of-type(1) a {
  left: 0;
}
#infor .information .p1 .skill section:nth-of-type(2) {
  position: relative;
  top: 0;
  left: 205px;
  border-radius: 0 10px 10px 10px;
}
#infor .information .p1 .skill section:nth-of-type(2) .content .progress {
  width: 160px;
  height: 160px;
  position: relative;
  top: 30px;
  left: 30px;
}
#infor .information .p1 .skill section:nth-of-type(2) .content .progress .outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 19px;
  box-sizing: border-box;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.45), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
#infor .information .p1 .skill section:nth-of-type(2) .content .progress .outer .inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.5), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px white, 0.5px 0.5px 0px rgba(0, 0, 0, 0.2), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
}
#infor .information .p1 .skill section:nth-of-type(2) .content .progress .outer .inner #number {
  font-size: 20px;
  font-weight: bold;
  color: #777;
}
#infor .information .p1 .skill section:nth-of-type(2) .content circle {
  fill: none;
  stroke: url(#GradientColor2);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim2 1.5s linear forwards;
}
#infor .information .p1 .skill section:nth-of-type(2) .content .svg2 {
  position: absolute;
  top: 30px;
  left: 30px;
  transform: rotate(-85deg);
}
@keyframes anim2 {
  100% {
    stroke-dashoffset: 60;
  }
}
#infor .information .p1 .skill section:nth-of-type(2) .content .csstext {
  width: 100%;
  height: 200px;
  padding-left: 150px;
  box-sizing: border-box;
  margin-top: -120px;
}
#infor .information .p1 .skill section:nth-of-type(2) .content .csstext h3 {
  font-size: 50px;
  margin-bottom: 20px;
}
#infor .information .p1 .skill section:nth-of-type(2) .content .csstext2 {
  text-align: left;
  position: relative;
}
#infor .information .p1 .skill section:nth-of-type(2) .content .csstext2 img {
  width: 50%;
  float: right;
  border-radius: 10px 0 0 10px;
  margin-top: 25px;
}
#infor .information .p1 .skill section:nth-of-type(2) .content .csstext2 p {
  font-size: 16px;
  padding: 80px 40px;
  background-color: skyblue;
  width: 400px;
  height: 250px;
  border-radius: 0 10px 10px 0;
  line-height: 2;
  box-sizing: border-box;
  margin-bottom: 30px;
}
#infor .information .p1 .skill section:nth-of-type(2) .content .csstext3 {
  position: relative;
}
#infor .information .p1 .skill section:nth-of-type(2) .content .csstext3 img {
  width: 50%;
  height: 200px;
  float: left;
}
#infor .information .p1 .skill section:nth-of-type(2) .content .csstext3 p {
  width: 600px;
  line-height: 30px;
  background-color: skyblue;
  position: absolute;
  top: 150px;
  left: calc(50% - 300px);
  border-radius: 10px;
  padding: 20px 0;
}
#infor .information .p1 .skill section:nth-of-type(2) a {
  left: 0;
}
#infor .information .p1 .skill section:nth-of-type(3) {
  position: relative;
  top: 0;
  left: 375px;
  border-radius: 0 10px 10px 10px;
}
#infor .information .p1 .skill section:nth-of-type(3) .content .progress {
  width: 160px;
  height: 160px;
  position: relative;
  top: 30px;
  left: 30px;
}
#infor .information .p1 .skill section:nth-of-type(3) .content .progress .outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 19px;
  box-sizing: border-box;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.45), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
#infor .information .p1 .skill section:nth-of-type(3) .content .progress .outer .inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.5), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px white, 0.5px 0.5px 0px rgba(0, 0, 0, 0.2), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
}
#infor .information .p1 .skill section:nth-of-type(3) .content .progress .outer .inner #number {
  font-size: 20px;
  font-weight: bold;
  color: #777;
}
#infor .information .p1 .skill section:nth-of-type(3) .content circle {
  fill: none;
  stroke: url(#GradientColor3);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim3 1.5s linear forwards;
}
#infor .information .p1 .skill section:nth-of-type(3) .content .svg3 {
  position: absolute;
  top: 30px;
  left: 30px;
  transform: rotate(-85deg);
}
@keyframes anim3 {
  100% {
    stroke-dashoffset: 120;
  }
}
#infor .information .p1 .skill section:nth-of-type(3) .content .sasstext {
  width: 100%;
  height: 200px;
  padding-left: 150px;
  box-sizing: border-box;
  margin-top: -120px;
}
#infor .information .p1 .skill section:nth-of-type(3) .content .sasstext h3 {
  font-size: 50px;
  margin-bottom: 20px;
}
#infor .information .p1 .skill section:nth-of-type(3) .content .sasstext2 {
  position: relative;
}
#infor .information .p1 .skill section:nth-of-type(3) .content .sasstext2 img {
  width: 50%;
  float: left;
  border-radius: 0 10px 10px 0;
}
#infor .information .p1 .skill section:nth-of-type(3) .content .sasstext2 p {
  font-size: 16px;
  line-height: 2;
  padding-top: 55px;
  box-sizing: border-box;
  margin-bottom: 100px;
}
#infor .information .p1 .skill section:nth-of-type(3) a {
  left: 0;
}
#infor .information .p1 .skill section:nth-of-type(4) {
  position: relative;
  top: 0;
  left: calc(50% - 350px);
  border-radius: 10px;
}
#infor .information .p1 .skill section:nth-of-type(4) .content .progress {
  width: 160px;
  height: 160px;
  position: relative;
  top: 30px;
  left: 30px;
}
#infor .information .p1 .skill section:nth-of-type(4) .content .progress .outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 19px;
  box-sizing: border-box;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.45), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
#infor .information .p1 .skill section:nth-of-type(4) .content .progress .outer .inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.5), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px white, 0.5px 0.5px 0px rgba(0, 0, 0, 0.2), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
}
#infor .information .p1 .skill section:nth-of-type(4) .content .progress .outer .inner #number {
  font-size: 20px;
  font-weight: bold;
  color: #777;
}
#infor .information .p1 .skill section:nth-of-type(4) .content circle {
  fill: none;
  stroke: url(#GradientColor4);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim4 1.5s linear forwards;
}
#infor .information .p1 .skill section:nth-of-type(4) .content .svg4 {
  position: absolute;
  top: 30px;
  left: 30px;
  transform: rotate(-85deg);
}
@keyframes anim4 {
  100% {
    stroke-dashoffset: 310;
  }
}
#infor .information .p1 .skill section:nth-of-type(4) .content .scripttext {
  width: 100%;
  height: 200px;
  padding-left: 170px;
  box-sizing: border-box;
  margin-top: -110px;
}
#infor .information .p1 .skill section:nth-of-type(4) .content .scripttext h3 {
  font-size: 50px;
  margin-bottom: 20px;
}
#infor .information .p1 .skill section:nth-of-type(4) .content .scripttext2 {
  position: relative;
}
#infor .information .p1 .skill section:nth-of-type(4) .content .scripttext2 img {
  width: 50%;
  float: left;
}
#infor .information .p1 .skill section:nth-of-type(4) .content .scripttext2 p {
  width: 450px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 100px;
  left: calc(50% - 225px);
  color: #fff;
  box-sizing: border-box;
  padding-top: 18px;
  border-radius: 10px;
}
#infor .information .p1 .skill section:nth-of-type(4) a {
  right: 0;
}
#infor .information .p1 .skill section:nth-of-type(5) {
  position: relative;
  top: 0;
  left: 115px;
  border-radius: 10px 0 10px 10px;
}
#infor .information .p1 .skill section:nth-of-type(5) .content .progress {
  width: 160px;
  height: 160px;
  position: relative;
  top: 30px;
  left: 30px;
}
#infor .information .p1 .skill section:nth-of-type(5) .content .progress .outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 19px;
  box-sizing: border-box;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.45), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
#infor .information .p1 .skill section:nth-of-type(5) .content .progress .outer .inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.5), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px white, 0.5px 0.5px 0px rgba(0, 0, 0, 0.2), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
}
#infor .information .p1 .skill section:nth-of-type(5) .content .progress .outer .inner #number {
  font-size: 20px;
  font-weight: bold;
  color: #777;
}
#infor .information .p1 .skill section:nth-of-type(5) .content circle {
  fill: none;
  stroke: url(#GradientColor5);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim5 1.5s linear forwards;
}
#infor .information .p1 .skill section:nth-of-type(5) .content .svg5 {
  position: absolute;
  top: 30px;
  left: 30px;
  transform: rotate(-85deg);
}
@keyframes anim5 {
  100% {
    stroke-dashoffset: 165;
  }
}
#infor .information .p1 .skill section:nth-of-type(5) .content .jquerytext {
  width: 100%;
  height: 200px;
  padding-left: 190px;
  box-sizing: border-box;
  margin-top: -140px;
}
#infor .information .p1 .skill section:nth-of-type(5) .content .jquerytext h3 {
  font-size: 50px;
  margin-bottom: 20px;
}
#infor .information .p1 .skill section:nth-of-type(5) .content .jquerytext2 {
  position: relative;
  margin-top: 50px;
}
#infor .information .p1 .skill section:nth-of-type(5) .content .jquerytext2 img {
  width: 70%;
  float: left;
}
#infor .information .p1 .skill section:nth-of-type(5) .content .jquerytext2 p {
  width: 200px;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 60px;
  right: 100px;
  color: #fff;
  box-sizing: border-box;
  padding: 20px 5px;
  border-radius: 10px;
}
#infor .information .p1 .skill section:nth-of-type(5) .content .jquerytext2 p:nth-of-type(2) {
  position: absolute;
  top: 500px;
  right: 100px;
}
#infor .information .p1 .skill section:nth-of-type(5) .content .jquerytext2 p:nth-of-type(3) {
  position: absolute;
  top: 900px;
  left: 10px;
  height: 230px;
}
#infor .information .p1 .skill section:nth-of-type(5) .content .jquerytext2 img:nth-of-type(3) {
  float: right;
}
#infor .information .p1 .skill section:nth-of-type(5) a {
  right: 0;
}
#infor .information .p1 .skill section:nth-of-type(6) {
  position: relative;
  top: 0;
  left: 285px;
  border-radius: 10px 0 10px 10px;
}
#infor .information .p1 .skill section:nth-of-type(6) .content {
  position: relative;
}
#infor .information .p1 .skill section:nth-of-type(6) .content .progress {
  width: 160px;
  height: 160px;
  position: relative;
  top: 30px;
  left: 30px;
}
#infor .information .p1 .skill section:nth-of-type(6) .content .progress .outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 19px;
  box-sizing: border-box;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.45), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
#infor .information .p1 .skill section:nth-of-type(6) .content .progress .outer .inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.5), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px white, 0.5px 0.5px 0px rgba(0, 0, 0, 0.2), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
}
#infor .information .p1 .skill section:nth-of-type(6) .content .progress .outer .inner #number {
  font-size: 20px;
  font-weight: bold;
  color: #777;
}
#infor .information .p1 .skill section:nth-of-type(6) .content circle {
  fill: none;
  stroke: url(#GradientColor6);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim6 1.5s linear forwards;
}
#infor .information .p1 .skill section:nth-of-type(6) .content .svg6 {
  position: absolute;
  top: 30px;
  left: 30px;
  transform: rotate(-85deg);
}
@keyframes anim6 {
  100% {
    stroke-dashoffset: 440;
  }
}
#infor .information .p1 .skill section:nth-of-type(6) .content .threetext {
  width: 100%;
  height: 200px;
  padding-left: 200px;
  box-sizing: border-box;
  margin-top: -120px;
}
#infor .information .p1 .skill section:nth-of-type(6) .content .threetext h3 {
  font-size: 50px;
  margin-bottom: 20px;
}
#infor .information .p1 .skill section:nth-of-type(6) .content .threetext2 {
  position: relative;
  margin-top: 50px;
}
#infor .information .p1 .skill section:nth-of-type(6) .content .threetext2 p {
  width: 90%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px 20px;
  margin: 15px auto;
}
#infor .information .p1 .skill section:nth-of-type(6) .content .threetext3 {
  position: relative;
}
#infor .information .p1 .skill section:nth-of-type(6) .content .threetext3 img:nth-of-type(1) {
  width: 70%;
  float: left;
  margin-top: 30px;
}
#infor .information .p1 .skill section:nth-of-type(6) .content .threetext3 p:nth-of-type(1) {
  width: 250px;
  height: 330px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 100px;
  right: 70px;
  color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  padding-top: 10px;
}
#infor .information .p1 .skill section:nth-of-type(6) .content .threetext3 img:nth-of-type(2) {
  width: 100%;
  border-top: 1px solid #777;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 30px;
}
#infor .information .p1 .skill section:nth-of-type(6) .content .threetext3 p:nth-of-type(2) {
  position: absolute;
  top: 585px;
  left: calc(50% - 300px);
  width: 600px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 10px;
  padding: 10px 0;
}
#infor .information .p1 .skill section:nth-of-type(6) a {
  right: 0;
}
#infor .information .p1 .skill section:nth-of-type(7) {
  position: relative;
  top: 0;
  left: 455px;
  border-radius: 10px 0 10px 10px;
}
#infor .information .p1 .skill section:nth-of-type(7) .content .progress {
  width: 160px;
  height: 160px;
  position: relative;
  top: 30px;
  left: 30px;
}
#infor .information .p1 .skill section:nth-of-type(7) .content .progress .outer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 19px;
  box-sizing: border-box;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.45), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
#infor .information .p1 .skill section:nth-of-type(7) .content .progress .outer .inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.5), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px white, 0.5px 0.5px 0px rgba(0, 0, 0, 0.2), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
}
#infor .information .p1 .skill section:nth-of-type(7) .content .progress .outer .inner #number {
  font-size: 20px;
  font-weight: bold;
  color: #777;
}
#infor .information .p1 .skill section:nth-of-type(7) .content circle {
  fill: none;
  stroke: url(#GradientColor7);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim7 1.5s linear forwards;
}
#infor .information .p1 .skill section:nth-of-type(7) .content .svg7 {
  position: absolute;
  top: 30px;
  left: 30px;
  transform: rotate(-85deg);
}
@keyframes anim7 {
  100% {
    stroke-dashoffset: 120;
  }
}
#infor .information .p1 .skill section:nth-of-type(7) .content .photoshoptext {
  width: 100%;
  height: 200px;
  padding-left: 220px;
  box-sizing: border-box;
  margin-top: -150px;
}
#infor .information .p1 .skill section:nth-of-type(7) .content .photoshoptext h3 {
  font-size: 50px;
  margin-bottom: 20px;
}
#infor .information .p1 .skill section:nth-of-type(7) .content .photoshoptext2 {
  position: relative;
}
#infor .information .p1 .skill section:nth-of-type(7) .content .photoshoptext2 img:nth-of-type(1) {
  margin-top: 30px;
}
#infor .information .p1 .skill section:nth-of-type(7) .content .photoshoptext2 img:nth-of-type(2) {
  margin-top: 10px;
  float: left;
}
#infor .information .p1 .skill section:nth-of-type(7) .content .photoshoptext2 p {
  width: 270px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 200px;
  right: 5px;
  color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 65px 10px;
}
#infor .information .p1 .skill section:nth-of-type(7) a {
  right: 0;
}
#infor .information .p1 .skill .on {
  display: block;
}
#infor .portfolio {
  width: 99%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  overflow: auto;
  display: none;
}
#infor .portfolio .p2 {
  width: 100%;
  height: 2000px;
  position: relative;
  overflow: scroll hidden;
}
#infor .portfolio .p2 .hanyang {
  width: 100%;
  height: 570px;
  position: relative;
  margin-bottom: 80px;
}
#infor .portfolio .p2 .hanyang h3 {
  font-size: 35px;
  color: #eee;
  margin: 30px 0;
  font-weight: 400;
}
#infor .portfolio .p2 .hanyang .link {
  width: 50%;
  height: 350px;
  position: relative;
  overflow: hidden;
  float: left;
}
#infor .portfolio .p2 .hanyang .link .hanyangslide {
  position: relative;
  width: 1782px;
  height: 100%;
}
#infor .portfolio .p2 .hanyang .link .hanyangslide li {
  float: left;
  height: 100%;
  width: 594px;
}
#infor .portfolio .p2 .hanyang .link .hanyangslide li a {
  display: block;
  width: 100%;
  height: 100%;
}
#infor .portfolio .p2 .hanyang .link .hanyangslide li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#infor .portfolio .p2 .hanyang .link button {
  width: 30px;
  border-radius: 30px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 15px);
  transform: scale(1);
}
#infor .portfolio .p2 .hanyang .link button :hover {
  border-radius: 30px;
  width: 30px;
  height: 30px;
  border: 2px solid #222;
  transform: scale(1.1);
  box-sizing: border-box;
}
#infor .portfolio .p2 .hanyang .link button i {
  font-size: 20px;
  line-height: 30px;
  color: #444;
  font-weight: bold;
}
#infor .portfolio .p2 .hanyang .link .prev {
  left: 5px;
}
#infor .portfolio .p2 .hanyang .link .next {
  right: 5px;
}
#infor .portfolio .p2 .hanyang .notice {
  width: 50%;
  height: 350px;
  float: right;
  box-sizing: border-box;
  padding: 0 20px;
  color: #fff;
}
#infor .portfolio .p2 .hanyang .notice h4 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}
#infor .portfolio .p2 .hanyang .notice span {
  margin-top: 30px;
  display: block;
  font-size: 18px;
  margin-bottom: 50px;
}
#infor .portfolio .p2 .hanyang .notice a {
  box-sizing: border-box;
  padding: 7px 20px;
  font-size: 20px;
  background-color: #eee;
  color: #444;
  margin-right: 50px;
  border-radius: 7px;
  transition: 0.5s;
}
#infor .portfolio .p2 .hanyang .notice a:hover {
  background-color: silver;
  color: #000;
}
#infor .portfolio .p2 .hanyang .notice p {
  margin-top: 40px;
}
#infor .portfolio .p2 .hanyang .notice ul {
  margin-top: 15px;
}
#infor .portfolio .p2 .hanyang .notice ul li {
  float: left;
  margin-right: 20px;
  background-color: #fff;
  color: #111;
  box-sizing: border-box;
  padding: 5px 15px;
  border-radius: 50px;
}
#infor .portfolio .p2 .world {
  width: 100%;
  height: 570px;
  position: relative;
  margin-bottom: 80px;
}
#infor .portfolio .p2 .world h3 {
  font-size: 35px;
  color: #eee;
  margin: 30px 0;
  font-weight: 400;
}
#infor .portfolio .p2 .world .link2 {
  width: 50%;
  height: 350px;
  position: relative;
  overflow: hidden;
  float: left;
}
#infor .portfolio .p2 .world .link2 .worldslide {
  position: relative;
  width: 2970px;
  height: 100%;
}
#infor .portfolio .p2 .world .link2 .worldslide li {
  float: left;
  height: 100%;
  width: 594px;
}
#infor .portfolio .p2 .world .link2 .worldslide li a {
  display: block;
  width: 100%;
  height: 100%;
}
#infor .portfolio .p2 .world .link2 .worldslide li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#infor .portfolio .p2 .world .link2 button {
  width: 30px;
  border-radius: 30px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 15px);
  transform: scale(1);
}
#infor .portfolio .p2 .world .link2 button :hover {
  border-radius: 30px;
  width: 30px;
  height: 30px;
  border: 2px solid #222;
  transform: scale(1.1);
  box-sizing: border-box;
}
#infor .portfolio .p2 .world .link2 button i {
  font-size: 20px;
  line-height: 30px;
  color: #444;
  font-weight: bold;
}
#infor .portfolio .p2 .world .link2 .wprev {
  left: 5px;
}
#infor .portfolio .p2 .world .link2 .wnext {
  right: 5px;
}
#infor .portfolio .p2 .world .notice {
  width: 50%;
  height: 350px;
  float: right;
  box-sizing: border-box;
  padding: 0 20px;
  color: #fff;
}
#infor .portfolio .p2 .world .notice h4 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}
#infor .portfolio .p2 .world .notice span {
  margin-top: 30px;
  display: block;
  font-size: 18px;
  margin-bottom: 50px;
}
#infor .portfolio .p2 .world .notice a {
  box-sizing: border-box;
  padding: 7px 20px;
  font-size: 20px;
  background-color: #eee;
  color: #444;
  margin-right: 50px;
  border-radius: 7px;
  transition: 0.5s;
}
#infor .portfolio .p2 .world .notice a:hover {
  background-color: silver;
  color: #000;
}
#infor .portfolio .p2 .world .notice p {
  margin-top: 40px;
}
#infor .portfolio .p2 .world .notice ul {
  margin-top: 15px;
}
#infor .portfolio .p2 .world .notice ul li {
  float: left;
  margin-right: 20px;
  background-color: #fff;
  color: #111;
  box-sizing: border-box;
  padding: 5px 15px;
  border-radius: 50px;
}
#infor .portfolio .p2 .hifunitrue {
  width: 100%;
  height: 570px;
  position: relative;
}
#infor .portfolio .p2 .hifunitrue h3 {
  font-size: 35px;
  color: #eee;
  margin: 30px 0;
  font-weight: 400;
}
#infor .portfolio .p2 .hifunitrue .link3 {
  width: 50%;
  height: 350px;
  position: relative;
  overflow: hidden;
  float: left;
}
#infor .portfolio .p2 .hifunitrue .link3 .hislide {
  position: relative;
  width: 4185px;
  height: 100%;
}
#infor .portfolio .p2 .hifunitrue .link3 .hislide li {
  float: left;
  height: 100%;
  width: 594px;
}
#infor .portfolio .p2 .hifunitrue .link3 .hislide li a {
  display: block;
  width: 100%;
  height: 100%;
}
#infor .portfolio .p2 .hifunitrue .link3 .hislide li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#infor .portfolio .p2 .hifunitrue .link3 button {
  width: 30px;
  border-radius: 30px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 15px);
  transform: scale(1);
}
#infor .portfolio .p2 .hifunitrue .link3 button :hover {
  border-radius: 30px;
  width: 30px;
  height: 30px;
  border: 2px solid #222;
  transform: scale(1.1);
  box-sizing: border-box;
}
#infor .portfolio .p2 .hifunitrue .link3 button i {
  font-size: 20px;
  line-height: 30px;
  color: #444;
  font-weight: bold;
}
#infor .portfolio .p2 .hifunitrue .link3 .hprev {
  left: 5px;
}
#infor .portfolio .p2 .hifunitrue .link3 .hnext {
  right: 5px;
}
#infor .portfolio .p2 .hifunitrue .notice {
  width: 50%;
  height: 350px;
  float: right;
  box-sizing: border-box;
  padding: 0 20px;
  color: #fff;
}
#infor .portfolio .p2 .hifunitrue .notice h4 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}
#infor .portfolio .p2 .hifunitrue .notice span {
  margin-top: 30px;
  display: block;
  font-size: 18px;
  margin-bottom: 50px;
}
#infor .portfolio .p2 .hifunitrue .notice a {
  box-sizing: border-box;
  padding: 7px 20px;
  font-size: 20px;
  background-color: #eee;
  color: #444;
  margin-right: 50px;
  border-radius: 7px;
  transition: 0.5s;
}
#infor .portfolio .p2 .hifunitrue .notice a:hover {
  background-color: silver;
  color: #000;
}
#infor .portfolio .p2 .hifunitrue .notice p {
  margin-top: 30px;
}
#infor .portfolio .p2 .hifunitrue .notice ul {
  margin-top: 5px;
}
#infor .portfolio .p2 .hifunitrue .notice ul li {
  float: left;
  margin: 0 20px 10px 0;
  background-color: #fff;
  color: #111;
  box-sizing: border-box;
  padding: 5px 15px;
  border-radius: 50px;
}
#infor .portfolio .p2 .webexplanation {
  width: 97%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  left: 1.5%;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0 5px;
}
#infor .portfolio .p2 .webexplanation h5 {
  font-weight: 500;
}
#infor .portfolio .p2 .webexplanation p {
  font-size: 14px;
}
#infor .portfolio .p2 .webexplanation p span {
  font-size: 10px;
}
#infor .on {
  display: block;
}/*# sourceMappingURL=style.css.map */